@import "base";

  /*footer部分*/
.footerbox{
    background: #fff;
  }
.footerbox .footer{
    width: 1210px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:30px;
  }
.footerbox .footer .left{
  float: left;
  width: 720px;
  border-right: 1px solid #000;
}
.footerbox .footer .right{
  float: left;
  width: 400px;
}
.footerbox .footer .left p{
  font-size: 20px;
}
.footerbox .footer .left .one span{
  font-size: 12px;
  color: #d2d2d2;
  display: block;
}
.footerbox .footer .left .one a{
  font-size: 12px;
  color: #000;
  display: block;
}
.footerbox .footer .right p{
  font-size: 20px;
  padding-left: 10px;
}
.footerbox .footer .right .content .icon{
  width: 93px;
  height: 120px;
  /*border:1px solid #000;*/
  margin-left: 10px;
  float: left;
}
.footerbox .footer .right .content .icon img{
  padding-left: 4px;
}
.footerbox .footer .right .content .icon i{
  display: block;
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
}
.footerbox .footer .right .content .icon em{
  display: block;
  font-size: 12px;
  text-align: center;
}
.footerbox .footer .right .content .icon a{
  display: block;
  font-size: 12px;
  text-align: center;
  color: #3f80b8;
}

/*底部分*/
.footerlinkbox{
  background: #000;
}
.footerlinkbox .footerlink{
  width: 1210px;
  margin:0 auto;
}
.footerlinkbox .footerlink .top .left{
  float: left;
  width: 240px;
}
.footerlinkbox .footerlink .top .center{
  float: left;
  width: 390px;
}
.footerlinkbox .footerlink .top .right{
  float: right;
}
.footerlinkbox .footerlink .top .left p:nth-child(1){
  font-size: 14px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
}
.footerlinkbox .footerlink .top .left p:nth-child(2){
  font-size: 14px;
  color: #fff;
  padding-bottom: 24px;
}
.footerlinkbox .footerlink .top .left span{
  display: block;
  padding-bottom: 24px;
  color: #6a6a6a;
  font-size: 12px;
}
.footerlinkbox .footerlink .top .center p{
  font-size: 14px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
}
.footerlinkbox .footerlink .top .center .enter{
  width: 177px;
  height: 33px;
  text-align: center;
  color: #6a6a6a;
  background: #464646;
  margin-bottom: 12px;
  line-height: 33px;
  font-size: 12px;
}
.footerlinkbox .footerlink .top .center .active{
  background: #009ffb;
  color: #fff;
}
.footerlinkbox .footerlink .top .center span{
  color: #6a6a6a;
  display: block;
  width: 100px;
  height: 15px;
  margin-top: 20px;
  font-size: 12px;

}
.footerlinkbox .footerlink .top .center span:last-child{
  margin-top: 15px;
}

.footerlinkbox .footerlink .top .right ul{
  float: left;
  width: 130px;
}
.footerlinkbox .footerlink .top .right ul li{
  font-size: 12px;
 
  padding-bottom: 14px;
}
.footerlinkbox .footerlink .top .right ul li a{
   color: #6a6a6a;
}
.footerlinkbox .footerlink .top .right ul li:first-child{
  font-size: 14px;
  padding-top:30px;
  color: #fff;
}
.footerlinkbox .footerlink .bottom .left{
  padding-top:16px;
  border-top: 1px solid #fff;
}
.footerlinkbox .footerlink .bottom .left a{
  float: left;
  padding-right: 40px;
  color: #fff;
  font-size: 12px;
}
.footerlinkbox .footerlink .bottom .left span{
  float: right;
  color: #fff;
  font-size: 12px;
}
.footerlinkbox .footerlink .bottom .right{
  padding-top: 10px;
  color: #6a6a6a;
  font-size: 12px;
  padding-bottom: 40px;
}
.footerlinkbox .footerlink .bottom .right div{
  float: left;
  width: 700px;
}
.footerlinkbox .footerlink .bottom .right div>span{
  float: left;
}
.footerlinkbox .footerlink .bottom .right div>a{
  float: left;
}
.footerlinkbox .footerlink .bottom .right .fr{
  float: right;
}
.footerlinkbox .footerlink .bottom .right .fr a{
  color: blue;
}



