@import "base";

/*详情页*/
.homeBackBox {
  border-bottom: 1px solid #000; }

.homeBack {
  width: 1210px;
  margin: 0 auto; }

.homeBack .b_left {
  float: left;
  font-size: 12px;
  color: #000;
  width: 300px;
  padding: 24px 0 24px 0; }

.homeBack .b_left a {
  float: left; }

.homeBack .b_left i {
  float: left; }

.homeBack img {
  float: right;
  padding-top: 18px; }

/*导播图*/
.optionbox {
  background: #f6f6f6;
  overflow: hidden; }

.optionbox .option {
  width: 1120px;
  margin: 0 auto;
  height: 156px;
  overflow: hidden;
  position: relative; }

.optionbox .option ul {
  height: 156px;
  width: 2240px;
  position: absolute; }

.optionbox .option ul li {
  width: 140px;
  height: 156px;
  float: left; }

.optionbox .option ul li a {
  float: left;
  width: 140px; }

.optionbox .option ul li span {
  float: left;
  font-size: 12px;
  width: 140px;
  text-align: center; }

.optionbox .option ul li a img {
  width: 100%; }

.optionbox .prev {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -90px;
  left: 113px; }

.optionbox .next {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -90px;
  right: 113px; }

.optionbox .slip {
  height: 34px;
  position: relative; }

.optionbox .slip .slipup {
  width: 30px;
  height: 34px;
  background: url("../images/details/trigger_v_slide.gif") no-repeat center -11px #f6f6f6;
  margin: 0 auto; }

/*商品详情区*/
.goodbox {
  background: #fff;
  position: relative; }

.goodbox .good {
  width: 1210px;
  position: relative;
  margin: 0 auto; }
.goodbox .good .lens{
  width: 542px;
  height: 542px;
  left: 556px;
  top: 0px;
  /*border:1px solid #000;*/
  position: absolute;
  z-index: 9999;
  overflow: hidden;
}
.goodbox .good .lens img{
  width: 1084px;
  height: 1084px;
  position: absolute;
  left: 200px;
}
.goodbox .good .g_top .g_left {
  width: 540px;
  float: left; }

.goodbox .good .g_top .g_left .g_pic {
  width: 542px;
  height: 542px;
  position: relative;
  border: 1px solid #000; }
.goodbox .good .g_top .g_left .g_pic .mark{
  width: 200px;
  height: 200px;
  top: 0;
  border:1px solid #000;
  position: absolute;
}
.goodbox .good .g_top .g_left .g_pic img {

  display: none; }

.goodbox .good .g_top .g_left .g_pic .show {
  display: block; }

.goodbox .good .g_top .g_left .g_sel {
  width: 542px;
  height: 70px;
  margin-top: 23px;
  margin-bottom: 40px; }

.goodbox .good .g_top .g_left .g_sel .g_prev {
  width: 19px;
  height: 70px;
  float: left;
  background: url("../images/details/product_sliders.png") no-repeat 0 18px; }

.goodbox .good .g_top .g_left .g_sel .g_one {
  width: 64px;
  height: 68px;
  float: left;
  border: 1px solid #000;
  margin-left: 14px; }

.goodbox .good .g_top .g_left .g_sel .active {
  border: 1px solid blue; }

.goodbox .good .g_top .g_left .g_sel .g_next {
  width: 19px;
  float: right;
  height: 70px;
  background: url("../images/details/product_sliders.png") no-repeat right; }

.goodbox .good .g_top .g_right {
  float: right;
  width: 670px; }

.goodbox .good .g_top .g_right .title {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin-left: 20px;
  line-height: 28px;
  margin-top: 10px; }

.goodbox .good .g_top .g_right .content {
  font-size: 12px;
  color: #000;
  margin-left: 20px;
  margin-top: 18px; }

.goodbox .good .g_top .g_right .content b {
  font-weight: 600; }

.goodbox .good .g_top .g_right p {
  font-size: 12px;
  color: #b1b1b1;
  padding: 26px 0 24px 56px; }

.goodbox .good .g_top .g_right p i {
  font-size: 14px;
  color: #0a83d6;
  padding-left: 12px;
  display: inline-block; }

.goodbox .good .g_top .g_right .money {
  font-size: 12px;
  color: #b1b1b1;
  padding: 0 0 34px 46px; }

.goodbox .good .g_top .g_right .money a {
  font-size: 14px;
  color: #ff5a38;
  padding-left: 12px;
  float: left;
  height: 18px;
  width: 72px;
  margin-left: 20px;
  text-indent: 8px;
  background: url("../images/details/45.jpg") no-repeat left; }

.goodbox .good .g_top .g_right .money i {
  float: left;
  margin-top: 2px; }

.goodbox .good .g_top .g_right .money img {
  float: left;
  margin-top: -5px;
  padding-left: 10px; }

.goodbox .good .g_top .g_right .line {
  width: 600px;
  height: 1px;
  border-bottom: 1px dotted #000;
  margin-left: 24px; }

.goodbox .good .g_top .g_right .standard {
  font-size: 12px;
  color: #b1b1b1;
  padding: 21px 0 24px 56px;
  width: 300px; }

.goodbox .good .g_top .g_right .standard i {
  float: left;
  margin-top: 10px; }

.goodbox .good .g_top .g_right .standard .s_btn {
  width: 125px;
  height: 33px;
  border: 1px solid #000;
  line-height: 33px;
  text-align: center;
  float: left;
  margin-left: 20px; }

.goodbox .good .g_top .g_right .color {
  font-size: 12px;
  color: #b1b1b1;
  padding: 0 0 24px 56px;
  width: 300px; }

.goodbox .good .g_top .g_right .color i {
  float: left;
  margin-top: 10px; }

.goodbox .good .g_top .g_right .color .c_btn {
  width: 125px;
  height: 33px;
  border: 1px solid #000;
  line-height: 33px;
  text-align: center;
  float: left;
  margin-left: 20px; }

.goodbox .good .g_top .g_right .color .c_btn .block {
  width: 22px;
  height: 22px;
  background: black;
  margin: 5px 0 0 15px;
  float: left; }

.goodbox .good .g_top .g_right .color .c_btn em {
  font-size: 12px;
  float: left;
  width: 70px;
  height: 33px; }

.goodbox .good .g_top .g_right .num {
  font-size: 12px;
  color: #b1b1b1;
  padding: 0 0 24px 56px;
  width: 300px; }

.goodbox .good .g_top .g_right .num i {
  float: left;
  margin-top: 10px; }

.goodbox .good .g_top .g_right .num .add {
  width: 106px;
  height: 36px;
  border: 1px solid #000;
  float: left;
  margin-left: 20px; }

.goodbox .good .g_top .g_right .num .add .sub {
  width: 35px;
  height: 36px;
  border-right: 1px solid #000;
  float: left;
  text-align: center;
  line-height: 36px;
  font-size: 25px;
  background: #f1f4f9; }

.goodbox .good .g_top .g_right .num .add .plus {
  width: 35px;
  height: 36px;
  border-left: 1px solid #000;
  float: left;
  text-align: center;
  line-height: 36px;
  font-size: 25px;
  background: #f1f4f9; }

.goodbox .good .g_top .g_right .num .add .icur {
  width: 34px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  float: left; }

.goodbox .good .g_top .g_right .joinbox .join {
  float: left;
  margin-left: 100px;
  margin-top: 10px; }

.goodbox .good .g_top .g_right .joinbox .wish {
  float: left;
  margin: 10px 0 0 10px; }

.goodbox .good .g_bottom {
  height: 60px;
  width: 1210px; }

.goodbox .good .g_bottom span {
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px; }

.goodbox .good .g_bottom .d_right {
  float: right;
  width: 500px; }

.goodbox .good .g_bottom .d_right .shop {
  float: right;
  margin-top: 5px; }

.goodbox .good .g_bottom .d_right .text {
  float: right;
  height: 20px;
  padding: 1px 14px 1px 14px;
  margin-top: 14px;
  border-right: 1px solid #000; }

.goodbox .good .g_bottom .d_right .active {
  color: blue; }

.goodbox .good .g_bottom .d_right .text:nth-child(2) {
  border: 0; }

/*弹出成功的添加*/
.goodbox .success {  
  width: 555px;
  height: 317px;
  border: 1px solid #000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
  margin: auto;
  background: #fff;
  display: none; }

.goodbox .success .top {
  width: 555px;
  height: 50px;
  background: #f2f2f2; }

.goodbox .success .top img {
  float: right;
  margin-top: 16px;
  margin-right: 12px; }

.goodbox .success .middle {
  width: 555px;
  height: 50px;
  margin: 40px 0 50px 0; }

.goodbox .success .middle img {
  float: left;
  margin-left: 130px; }

.goodbox .success .middle span {
  float: left;
  font-size: 12px;
  margin-left: 24px;
  margin-top: 18px; }

.goodbox .success .bottom {
  width: 555px;
  height: 54px; }

.goodbox .success .bottom .left {
  float: left;
  width: 212px;
  margin-left: 55px; }

.goodbox .success .bottom .right {
  float: left;
  width: 212px;
  margin-left: 24px; }
